@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #000;  
  font-family: sans-serif;
  overflow: hidden;
}

.top_settings {
  color: #fff;
  background-color: purple;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 20px;
  .backgroundMusic {
    display: none;
  }
}

.ball {
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 300px;
}

@media screen and (max-width: 480px) {
  .ball {
    width: 60px;
    height: 60px;
  }
  .top_settings {
    left: 0;
  }
}
.time, .points {
  display: inline;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 2px solid green;
}

.magic_ball {
  background-color: purple;
}

.golden_ball {
  background-color: gold;
}

h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -320%);
  color: #fff;
}
.frame {
  width: 300px;
  height: 30px;
  border: 1px solid #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader  {
  background-color: purple;
  animation: load 5s infinite;
}

@keyframes load {
  from {
    width: 0%;
    height: 100%;
  }
  to {
    background-color:#a64ca6;
    width: 100%;
    height: 100%;
  }
}